* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #85c5c5;
    text-decoration: none;
    height: 60px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    font-size: larger;
}

.title {
    text-align: center;
}

.content_sections_1 {
    display: flex;
    width: 100%;
    height: 400px;

    & .section_1 {
        padding: 20px;
        width: 25%;
    }

    & .section_2 {
        width: 50%;
    }

    & .section_3 {
        width: 25%;
        background-color: blueviolet;
    }

}

.section_1_body_cuadro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option_section_1 {
    background-color: rgb(236, 128, 128);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    color: aliceblue;
    transition: all 1000ms;
    font-weight: bold;
}

.option_section_1:hover {
    background-color: rgb(241, 240, 175);
    color: rgb(136, 136, 244);
    cursor: pointer;
    transform: rotate(380deg);

}

.section_2 {

    & form {
        margin: 0 auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        height: 100%;

        & div {
            display: flex;
            flex-direction: column;

            & input {
                width: 300px;
                height: 40px;
                border: 1px solid black;
                padding-left: 10px;
                border-radius: 5px;
                outline: none;
                font-size: 1rem;
                transition: all 1000ms;
            }

            & input:focus {
                border: 1px solid red;
            }

            & span{
                display: none;
            }
        }

        & div:focus-within{
            transform: scale(1.05) rotate(8deg);
            & span{
                display: block;
            }
        }
    }
}